BODY,P,TD,OL,UL,DIV {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:#000000;
}

A {
    text-decoration: none;
    color: #9900CC;
}
A:link {
    text-decoration: none;
    color: #9900CC;
}
A:active {
    text-decoration: none;
    color: #0000FF;
}
A:visited {
    text-decoration: none;
    color: #003399;
}
A:hover {
    text-decoration: underline;
    color: #CC3399;
}

A.menu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #9900CC;
}
A.menu:link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #9900CC;
}
A.menu:active {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #0000FF;
}
A.menu:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    color: #003399;
}
A.menu:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
    color: #CC3399;
}

.menutop {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

PRE {
    font-size: 12px;
    font-family: Courier New;
    font-weight: normal;
    font-style: normal;
}

H1 {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: bold;
}

H2 {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
}

.white {
    color: #FFFFFF;
}

.copyright {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 9px;
}

B {
    font-weight: bold;
}
I {
    font-style: italic;
}
U {
    text-decoration: underline;
}

INPUT {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: #000000;
    font-family : "Courier New", Courier, monospace;
}
SELECT {
    font-family : "Courier New", Courier, monospace;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: #000000;
}
TEXTAREA {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: #000000;
}

tr.line td {
    border-bottom: #D2CDD9 1px solid;
    border-right: #D2CDD9 1px solid;
}

tr.normal td {
    border-bottom: 0;
    border-right: 0;
}

.flat {
   border: 1px solid #A0A0A0
}

.now {
    font-size: 11px;
    color: #B5B5B5;
}

.listdata {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.path {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

H1.title {
   color: #9370DB;
}
